.footerParent {

  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
}

.footerTitle {
  font-size: regular;
  color: white;
}


.footerMyAccount {
  position: absolute; 
  right: 0;
  color: white;
  margin-right: 20px;
}