/* .dashboard {
  display: flex;
  
} */

.container {
  display: flex;
  width: 100vw; /* Ensures the container takes the full viewport width */
}

.box1 {
  width: 15%; /* Box 1 occupies 20% of the width */
  background-color: #f5f7f8;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}


.box2 {
  width: 85%; /* Box 2 occupies the remaining 80% of the width */
  background-color: #f5f7f8;
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
}