@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Added July 11*/

h1, h2, p, th, tr, td{
  font-family: "Source Sans 3", sans-serif;
}
h1{
  font-weight: 600;
  font-size: 26px;
  padding-bottom: 20px;
}

table{
  width: 100%;
  table-layout: auto;
}

th{
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid rgb(56, 56, 56);
  text-align: left;
}

td{
  height: 80px;
  font-weight: 500;
  font-size: 20px;
  color: rgb(35, 32, 32);
  border-bottom: 1px solid rgb(229, 229, 229);
}