@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.jobcontainer{
  background-color: #f5f7f8;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: black;
}


/* .dashboard {
  display: flex;
  
} */

.container {
  display: flex;
  width: 100vw; /* Ensures the container takes the full viewport width */
}

.box1 {
  width: 15%; /* Box 1 occupies 20% of the width */
  background-color: #f5f7f8;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}


.box2 {
  width: 85%; /* Box 2 occupies the remaining 80% of the width */
  background-color: #f5f7f8;
  padding: 20px;
  text-align: center;
  border: 1px solid #000;
}