.headerParent {
	display: flex;
	position: relative;
	height: 60px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
}

.headerTitle {
	font-size: x-large;
	margin-left: 50px;
	color: white;
}

.headerMyAccount {
	position: absolute;
	right: 0;
	color: white;
	margin-right: 20px;
}

.headerNew {
	position: absolute;
	right: 0;

	margin-right: 160px;
}
